// LOCAL FONTS
@font-face {
  font-family: "Karla";
  src: url("./../assets/font/Karla-Regular.ttf") format("woff");
  /* Modern Browsers */
}

// REMOTE FONTS
// @import
// url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/* - - - - - GLOBAL VARIABLES - - - - - */
:root {
  --primary-1: hsl(179, 62%, 43%); /*cyan*/
  --primary-2: hsl(71, 73%, 54%); /*bright yellow*/
  --neutral-1: hsl(204, 43%, 93%); /*light gray*/
  --neutral-2: hsl(218, 22%, 67%); /*grayish blue*/
  --primary-1-light: hsl(179, 47%, 52%); /*lighter cyan*/
}

/* - - - - - GENERAL STYLES - - - - - */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  li {
    list-style: none;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  font-size: 16px;
  background-color: var(--neutral-1);
  font-family: "Karla", sans-serif;
}

/* - - - - - MAIN - - - - - */
main {
  display: flex;
  margin: auto;
  align-self: center;
  justify-content: center;
  padding: 32px;
  @media screen and (max-width: 360px) {
    height: 100%;
    width: 100%;
  }

  /* - - - - - MAIN-GRID - - - - - */
  .main-grid {
    display: grid;
    // grid-template-rows: 45% 55%;
    min-width: 280px; // Galaxy Fold
    max-width: 40rem;
    align-self: center;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a a"
      "s b";
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.3);

    section {
      display: flex;
      flex-direction: column;
      padding: 32px;
      h1,
      h2 {
        margin-top: 0;
      }
      h1 {
        font-size: 1.5rem;
        margin-bottom: 0.83rem;
      }
      h2 {
        font-size: 1.17rem;
        margin-bottom: 1rem;
      }
    }

    /* - - - - - ABOUT AREA - - - - - */
    .about {
      grid-area: a;
      background-color: white;
      h1 {
        color: var(--primary-1);
      }
      h2 {
        color: var(--primary-2);
      }
      p {
        color: var(--neutral-2);
        margin-top: 0;
        line-height: 1.5;
      }
    }

    /* - - - - - SUBSCRIBE AREA - - - - - */
    .subscribe {
      grid-area: s;
      color: white;
      font-weight: 500;
      background-color: var(--primary-1);

      p {
        margin-top: 0;
        &:first-of-type {
          sup {
            font-size: inherit;
            font-weight: normal;
            color: lightgray;
          }
          span {
            font-size: xx-large;
            font-weight: 700;
            color: white;
            margin-right: 10px;
          }
        }
      }

      a.call-to-action {
        color: white;
        font-size: inherit;
        font-weight: 700;
        text-align: center;
        padding: 16px;
        margin-top: 16px;
        border-radius: 5px;
        border: transparent;
        background-color: var(--primary-2);
        box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        opacity: 1;
        transition: all ease-in-out 0.4s;

        &:hover {
          opacity: 0.8;
          box-shadow: 0px 1px 8px -2px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 0px 1px 8px -2px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0px 1px 8px -2px rgba(0, 0, 0, 0.3);
        }
      }
    }

    /* - - - - - BENEFITS AREA - - - - - */
    .benefits {
      grid-area: b;
      color: white;
      background-color: var(--primary-1-light);
      ul {
        margin-top: 0;
        li {
          font-size: 0.875rem; // 14px
          line-height: 1.5; // standard
        }
      }
    }

    /* - - - - - MAIN-GRID MEDIA QUERY - - - - - */
    @media screen and (max-width: 576px) {
      & {
        // grid-template-rows: 37% 31.5% 31.5%;
        grid-template-columns: 1fr;
        grid-template:
          "a"
          "s"
          "b";
      }
    }

    @media screen and (max-width: 375px) {
      & {
        section {
          padding: 24px;
          h1 {
            font-size: 1.17rem;
            margin-bottom: 1rem;
          }
          h2 {
            font-size: 1rem;
            margin-bottom: 1.33rem;
          }
        }

        .about p {
          font-size: 13px;
          line-height: 2;
        }
      }
    }
  }
}

/* - - - - - FOOTER - - - - - */
