// LOCAL FONTS
@font-face {
  font-family: "Karla";
  src: url("./../assets/font/Karla-Regular.ttf") format("woff");
  /* Modern Browsers */
}

// REMOTE FONTS
// @import
// url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/* - - - - - GLOBAL VARIABLES - - - - - */
:root {
  --primary-1: hsl(179, 62%, 43%); /*cyan*/
  --primary-2: hsl(71, 73%, 54%); /*bright yellow*/
  --neutral-1: hsl(204, 43%, 93%); /*light gray*/
  --neutral-2: hsl(218, 22%, 67%); /*grayish blue*/
  // --other-2: hsl(179, 47%, 52%); /*lighter cyan*/
}

/* - - - - - GENERAL STYLES - - - - - */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  li {
    list-style: none;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-size: 16px;
  background-color: var(--neutral-1);
  font-family: "Karla", sans-serif;
}

/* - - - - - PAGE CONTAINER - - - - - */
.page-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 16px);

  /* - - - - - MAIN - - - - - */
  main {
    display: grid;
    grid-template-rows: 45% 55%;
    align-self: center;
    margin: auto 0;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "a a a  a a a"
      "s s s  b b b";
    border-radius: 8px;
    overflow: hidden;

    section {
      display: flex;
      flex-direction: column;
      padding: 32px;
    }

    /* - - - - - ABOUT AREA - - - - - */
    .about {
      grid-area: a;
      background-color: white;
      h1 {
        color: var(--primary-1);
      }
      h3 {
        color: var(--primary-2);
      }
      p {
        color: var(--neutral-2);
        &:first-of-type {
          margin-top: 0;
        }
      }
    }

    /* - - - - - SUBSCRIBE AREA - - - - - */
    .subscribe {
      grid-area: s;
      color: white;
      font-weight: 700;
      background-color: var(--primary-1);
      p {
        margin-top: 0;
        &:first-of-type {
          color: var(--neutral-1); // Alternative color: light-gray
          span {
            font-size: xx-large;
            font-weight: 700;
            color: white;
            margin-right: 10px;
          }
        }
      }
      button.call-to-action {
        color: white;
        font-weight: 700;
        padding: 16px;
        margin-top: 16px;
        border-radius: 5px;
        border: transparent;
        background-color: var(--primary-2);
        box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.3);
      }
    }

    /* - - - - - BENEFITS AREA - - - - - */
    .benefits {
      grid-area: b;
      color: white;
      background-color: hsl(179, 47%, 52%);
    }
  }

  /* - - - - - FOOTER - - - - - */
  footer {
    //
  }
}
