@font-face {
  font-family: "Karla";
  src: url("./../assets/font/Karla-Regular.ttf") format("woff");
  /* Modern Browsers */
}

/* - - - - - GLOBAL VARIABLES - - - - - */
:root {
  --primary-1: hsl(179, 62%, 43%);
  /*cyan*/
  --primary-2: hsl(71, 73%, 54%);
  /*bright yellow*/
  --neutral-1: hsl(204, 43%, 93%);
  /*light gray*/
  --neutral-2: hsl(218, 22%, 67%);
  /*grayish blue*/
  --primary-1-light: hsl(179, 47%, 52%);
  /*lighter cyan*/
}

/* - - - - - GENERAL STYLES - - - - - */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  font-size: 16px;
  background-color: var(--neutral-1);
  font-family: "Karla", sans-serif;
}

/* - - - - - MAIN - - - - - */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 32px;
  /* - - - - - MAIN-GRID - - - - - */
}

@media screen and (max-width: 360px) {
  main {
    height: 100%;
    width: 100%;
  }
}

main .main-grid {
  display: -ms-grid;
  display: grid;
  min-width: 280px;
  max-width: 40rem;
  -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "a a" "s b";
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.3);
  /* - - - - - ABOUT AREA - - - - - */
  /* - - - - - SUBSCRIBE AREA - - - - - */
  /* - - - - - BENEFITS AREA - - - - - */
  /* - - - - - MAIN-GRID MEDIA QUERY - - - - - */
}

main .main-grid section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px;
}

main .main-grid section h2 {
  margin-bottom: 1em;
  font-size: 1.17em;
}

main .main-grid h1,
main .main-grid h2 {
  margin-top: 0;
}

main .main-grid .about {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
  background-color: white;
}

main .main-grid .about h1 {
  color: var(--primary-1);
}

main .main-grid .about h2 {
  color: var(--primary-2);
}

main .main-grid .about p {
  color: var(--neutral-2);
  margin-top: 0;
  line-height: 1.5;
}

main .main-grid .subscribe {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: s;
  color: white;
  font-weight: 500;
  background-color: var(--primary-1);
}

main .main-grid .subscribe p {
  margin-top: 0;
}

main .main-grid .subscribe p:first-of-type sup {
  font-size: inherit;
  font-weight: normal;
  color: lightgray;
}

main .main-grid .subscribe p:first-of-type span {
  font-size: xx-large;
  font-weight: 700;
  color: white;
  margin-right: 10px;
}

main .main-grid .subscribe a.call-to-action {
  color: white;
  font-size: inherit;
  font-weight: 700;
  text-align: center;
  padding: 16px;
  margin-top: 16px;
  border-radius: 5px;
  border: transparent;
  background-color: var(--primary-2);
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

main .main-grid .subscribe a.call-to-action:hover {
  opacity: 0.8;
  box-shadow: 0px 1px 8px -2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 8px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 8px -2px rgba(0, 0, 0, 0.3);
}

main .main-grid .benefits {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: b;
  color: white;
  background-color: var(--primary-1-light);
}

@media screen and (max-width: 576px) {
  main .main-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-template: "a" "s" "b";
  }
}

/* - - - - - FOOTER - - - - - */
/*# sourceMappingURL=style.css.map */